<html>
  <body>
    <form method="POST" action="/docker/image/create">
        <input type="text" name="type" value="Web">
        <input type="text" name="name" value="Test">
      <input type="submit">
    </form>
  </body>
</html>